$color-green: #499A18;
$color-green-light: #D6E7D2;
$color-orange: #E06733;
$color-light-grey: #D9D9D9;
$color-grey: #717171;
$color-dark-grey: #636060;
$color-black: #000000;
$color-bg-section: #EDF2EC;
$color-link: #010201;
$color-white: #FFFFFF;

$screen-width: 1440px;
$content-width: 1222px;
$tablet-wide-width: 992px;
$tablet-width: 768px;
$s-width: 646px;
$mobile-width: 380px;
$xs-width: 320px;