@mixin columns ($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >* {
        flex-basis: $width;
    }
}

@mixin media-screen {
    @media (max-width: $screen-width) { @content; }
}

@mixin media-screen-small {
    @media (max-width: $content-width) { @content; }
}

@mixin media-tablet-wide {
    @media (max-width: $tablet-wide-width) { @content; }
}

@mixin media-tablet {
    @media (max-width: $tablet-width) { @content; }
}
@mixin media-small {
    @media (max-width: $s-width) {@content;}
}
@mixin media-mobile {
    @media (max-width: $mobile-width) { @content; }
}

@mixin media-xs {
    @media (max-width: $xs-width) { @content; }
}