.wrapper {
    padding-right: 109px;
    padding-left: 109px;
    margin: auto;

    @include media-screen-small {
        padding-right: 50px;
        padding-left: 50px;
    }

    @include media-tablet-wide {
        padding-right: 50px;
        padding-left: 50px;
    }

    @include media-tablet {
        padding-right: 50px;
        padding-left: 50px;
    }

    @include media-small {
        padding-right: 25px;
        padding-left: 25px;
    }

    @include media-mobile {
        padding-right: 25px;
        padding-left: 25px;
    }

    @include media-xs {
        padding-right: 10px;
        padding-left: 10px;
    }
}