@font-face {
  font-family: inika;
  src: url("../src/fonts/Inika-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: inika;
  src: url("../src/fonts/Inika-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: inter;
  src: url("../src/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: inter;
  src: url("../src/fonts/Inter-Bold.ttf");
  font-weight: 700;
}