.section-prices {
    padding: 38px 0 100px 0;

    @include media-tablet {
        padding: 40px 0 74px 0;
    }

    @include media-mobile {
        padding: 25px 0 40px 0;
    }
}

.section-prices-layout {
    display: flex;
    justify-content: space-between;

    @include media-small {
        display: flex;
        flex-direction: column;
    }
}

.prices-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media-small {
        align-items: center;
    }

    &__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
        line-height: 5rem;
        text-align: right;
        color: $color-black;
        margin-bottom: 60px;

        @include media-tablet {
            font-size: 3.5rem;
            line-height: 4.2rem;
            margin-bottom: 56px;
            margin-left: 14px;
        }

        @include media-mobile {
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 40px;
            margin-left: 0;
        }
    }
}

.prices-column__list {
    box-sizing: border-box;
    padding: 34px 41px;
    max-width: 332px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;

    @include media-mobile {
        padding: 29px 22px;
    }

    &-item {
        display: flex;
        justify-content: space-between;
        padding: 16px 40px;
        align-items: center;
        width: 250px;
        height: 50px;
        background: $color-bg-section;
        border-radius: 20px;
        margin-bottom: 32px;
        cursor: pointer;

        @include media-mobile {
            width: 180px;
            height: 49.72px;
            margin-bottom: 14px;
            padding: 14px 40px 16px 30px;
        }

        &-hidden {
            display: none;
        }

        &_title {
            @include media-mobile {
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    &-paper {
        display: none;

        &-open {
            transition: all 1s ease-out;
            display: flex;
            flex-direction: column;
            padding: 16px 40px;
            width: 250px;
            background: $color-green-light;
            border-radius: 20px;
            margin-bottom: 32px;

            @include media-mobile {
                width: 180px;
            }

            &_header {
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                &-title {
                    @include media-mobile {
                        font-size: 15px;
                        line-height: 20px;
                    }
                }
            }

            &_line {
                max-width: 164px;
                width: 100%;
                height: 0px;
                left: 392px;
                top: 263px;
                border: 0.5px solid #AEA1A1;
                margin-top: 12px;
                margin-bottom: 6px;
            }

            &_text {
                font-size: 1rem;
                line-height: 1rem;
                color: $color-grey;
                margin-bottom: 6px;
            }

            &_description {
                font-size: 1.2rem;
                line-height: 2rem;
                color: $color-black;
                margin-bottom: 12px;
            }

            &_span {
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 2rem;
                color: $color-orange;
            }
        }



    }
}

.button-small {
    width: 86px;
    height: 25px;
    background: $color-white;
    border: none;
    border-radius: 10px;

    &_text {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 2rem;
        color: $color-grey;
    }
}

.context-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include media-tablet {
        margin-top: 98px;
    }

    @include media-small {
        align-items: center;
        margin-top: 19px;
    }

    &__title {
        margin-bottom: 38px;

        &-green {
            color: $color-green;
        }

        @include media-tablet {
            font-size: 2.5rem;
            line-height: 3.5rem;
            margin-bottom: 28px;
        }

        @include media-mobile {
            font-size: 20px;
            line-height: 35px;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__button {
        background-color: $color-white;
        font-weight: 700;
        padding: 12px 30px;
        margin-bottom: 39px;

        &:hover {
            background-color: $color-orange;
            color: $color-white;
        }

        @include media-tablet {
            margin-bottom: 34px;
        }

        @include media-mobile {
            padding: 0;
            margin-bottom: 0;
        }

    }

    &__img {
        @include media-mobile {
            display: none;
        }
    }
}