.button {
    padding: 12px 40px;
    width: 161px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid $color-orange;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: $color-orange;
    cursor: pointer;

    @include media-mobile {
        width: 121px;
        height: 35px;
        padding: 8px 18px;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    // &:hover {
    //     background-color: $color-orange;
    //     color: $color-white;
    // }

    // &-selected {
    //     background-color: $color-orange;
    //     color: $color-white;
    // }

    &-black-text {
        background-color: $color-bg-section;
        padding: 10px 24px;
        border: 2px solid $color-orange;
        border-radius: 10px;
        text-transform: uppercase;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-black;
        cursor: pointer;

        @include media-mobile {
            width: 102px;
            height: 34.14px;
            padding: 8px 14px;
            font-size: 1rem;
            line-height: 1rem;
        }

        &:hover {
            background-color: $color-orange;
            color: $color-white;
        }

        &-selected {
            background-color: $color-orange;
            color: $color-white;
        }
    }
}

.accordion__btn {
    width: 16px;
    height: 16px;
}

.callButton {
    width: 122px;
    height: 26px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: $color-bg-section;
}