html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: inter, "serif", "sans-serif";
  font-weight: 400;
}

body.noscroll {
  overflow: hidden;
}

input[type=text],
input[type=phone],
input[type=email],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type=text]:focus,
input[type=phone]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
}

h2 {
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}

h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #E06733;
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

@font-face {
  font-family: inika;
  src: url("../src/fonts/Inika-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: inika;
  src: url("../src/fonts/Inika-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: inter;
  src: url("../src/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: inter;
  src: url("../src/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
.wrapper {
  padding-right: 109px;
  padding-left: 109px;
  margin: auto;
}
@media (max-width: 1222px) {
  .wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 646px) {
  .wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (max-width: 380px) {
  .wrapper {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.header {
  background: #EDF2EC;
  padding: 60px 0 42px 0;
  font-family: inika;
  font-weight: 400;
}
@media (max-width: 768px) {
  .header {
    padding: 48px 0 47px 0;
  }
}
@media (max-width: 646px) {
  .header {
    padding: 22px 0 22px 0;
  }
}
@media (max-width: 380px) {
  .header {
    padding: 22px 0 22px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
}
@media (max-width: 380px) {
  .logo {
    display: inline-flex;
    align-items: baseline;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}
@media (max-width: 646px) {
  .nav-list {
    display: none;
  }
}

.nav-item {
  list-style: none;
  margin-right: 46px;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #010201;
}
.nav-link:hover {
  color: #E06733;
  font-weight: 700;
}
.nav-link_selected {
  color: #E06733;
  font-weight: 700;
}

.nav-mobile {
  display: none;
  position: fixed;
  top: 96px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #EDF2EC;
  padding: 0 25px;
  display: flex;
  transition: 0.3s;
}
.nav-mobile_open {
  left: 0;
}

.nav-mobile .nav-list {
  display: flex;
  flex-direction: column;
}

.nav-mobile .nav-item {
  margin-right: 0;
}
.nav-mobile .nav-item:hover {
  background-color: #D6E7D2;
}

.nav-mobile .nav-link {
  padding: 10px 160px 10px 10px;
  display: block;
  width: 100%;
}

.footer {
  height: auto;
}

.layout-3-columns {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  line-height: 5rem;
  padding: 38px 0 40px 0;
}
@media (max-width: 768px) {
  .layout-3-columns {
    flex-direction: column;
    align-items: center;
    padding: 33px 0 18px 0;
    line-height: 2.4rem;
  }
}
@media (max-width: 380px) {
  .layout-3-columns {
    padding: 22px 0 8px 0;
  }
}

@media (max-width: 768px) {
  .footer-data:not(last-child) {
    padding-bottom: 14px;
  }
}

.footer-data__info:not(last-child) {
  margin-right: 16px;
}

.social-list {
  display: flex;
}
@media (max-width: 768px) {
  .social-list {
    margin-top: 10px;
  }
}
@media (max-width: 380px) {
  .social-list {
    margin-top: 0;
  }
}

.social-list__item {
  list-style: none;
  padding-top: 5px;
  margin-right: 28px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.button {
  padding: 12px 40px;
  width: 161px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #E06733;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #E06733;
  cursor: pointer;
}
@media (max-width: 380px) {
  .button {
    width: 121px;
    height: 35px;
    padding: 8px 18px;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.button-black-text {
  background-color: #EDF2EC;
  padding: 10px 24px;
  border: 2px solid #E06733;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
}
@media (max-width: 380px) {
  .button-black-text {
    width: 102px;
    height: 34.14px;
    padding: 8px 14px;
    font-size: 1rem;
    line-height: 1rem;
  }
}
.button-black-text:hover {
  background-color: #E06733;
  color: #FFFFFF;
}
.button-black-text-selected {
  background-color: #E06733;
  color: #FFFFFF;
}

.accordion__btn {
  width: 16px;
  height: 16px;
}

.callButton {
  width: 122px;
  height: 26px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #EDF2EC;
}

.select {
  width: 100%;
  max-width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  position: relative;
}
.select-active {
  background-color: #C1E698;
  box-shadow: none;
  display: block;
}
.select-green {
  background-color: #C1E698;
  box-shadow: none;
}
.select__header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 34px 0 20px;
}
.select__header-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: #636060;
}
.select__body {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: #DCE9D9;
  padding: 15px 35px 32px 20px;
}
.select__body-active {
  display: block;
  background: #DCE9D9;
  padding: 15px 35px 31px 20px;
}
.select__item {
  cursor: pointer;
  height: 35px;
  font-size: 1.6rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: #499A18;
  border-bottom: 1px solid #D9D9D9;
  margin-top: 12px;
}
.select__item:hover {
  color: #636060;
  border-bottom: 1px solid #717171;
}
.select__contacts-info {
  display: none;
  padding: 15px 35px 32px 20px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 200%;
}
.select__contacts-info-active {
  display: block;
  padding: 15px 35px 32px 20px;
  background: #EDF2EC;
  border: 1px solid #000000;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 200%;
}
.select__contacts-info_layout {
  display: flex;
  justify-content: space-around;
}
.select__contacts-info_column {
  font-size: 1.6rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: #000000;
}
.select__contacts-info_column-gray {
  color: #717171;
}

.burger {
  display: none;
}
@media (max-width: 646px) {
  .burger {
    display: flex;
    align-items: center;
  }
  .burger_open {
    display: flex;
    align-items: center;
  }
  .burger__field {
    padding: 11px 0;
    cursor: pointer;
  }
}
@media (max-width: 646px) and (max-width: 646px) {
  .burger__field_line {
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 6px;
    background-color: #717171;
    transition: 0.3s;
  }
}
@media (max-width: 646px) {
  .burger__field_line-active:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }
  .burger__field_line-active:nth-child(2) {
    opacity: 0;
  }
  .burger__field_line-active:nth-child(3) {
    opacity: 0;
  }
  .burger__field_line-active:nth-child(4) {
    transform: translateY(-12px) rotate(-45deg);
  }
}

.section-welcome {
  background-color: #EDF2EC;
  padding: 74px 0 54px 0;
}
@media (max-width: 768px) {
  .section-welcome {
    padding: 40px 0 70px 0;
  }
}
@media (max-width: 380px) {
  .section-welcome {
    padding: 24px 0 24px 0;
  }
}
.section-welcome__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .section-welcome__content {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
.section-welcome__img {
  width: 100%;
  max-width: 449px;
  margin-right: 222px;
}
@media (max-width: 992px) {
  .section-welcome__img {
    margin-right: 22px;
  }
}
@media (max-width: 768px) {
  .section-welcome__img {
    max-width: 280px;
    margin-right: 0;
    margin-left: 42px;
  }
}
@media (max-width: 646px) {
  .section-welcome__img {
    display: none;
  }
}
@media (max-width: 380px) {
  .section-welcome__img {
    display: none;
  }
}
.section-welcome__title {
  margin-bottom: 42px;
  line-height: 5rem;
}
.section-welcome__title_green {
  color: #499A18;
}
@media (max-width: 768px) {
  .section-welcome__title {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 380px) {
  .section-welcome__title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 20px;
  }
}
.section-welcome__description {
  margin-bottom: 48px;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #636060;
}
@media (max-width: 768px) {
  .section-welcome__description {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 34px;
    padding-left: 4px;
  }
}
@media (max-width: 380px) {
  .section-welcome__description {
    margin-bottom: 2.5rem;
    padding-left: 0;
  }
}

.section-contacts {
  background-color: #EDF2EC;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .section-contacts {
    flex-direction: column;
    height: auto;
    padding-top: 40px;
  }
}
@media (max-width: 380px) {
  .section-contacts {
    flex-direction: column;
    height: auto;
    padding-top: 25px;
  }
}
.section-contacts__wrapper {
  background: url("../src/img/contact_woman1.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  background-position: left 10% bottom;
}
@media (max-width: 768px) {
  .section-contacts__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 739px;
    background-size: 200px auto;
    background-position: left 52% bottom;
  }
}
@media (max-width: 380px) {
  .section-contacts__wrapper {
    background-size: 100px auto;
    background-position: left 50% bottom;
    min-height: 600px;
  }
  .section-contacts__wrapper-active {
    background: none;
  }
}
.section-contacts-layout {
  display: flex;
}
@media (max-width: 768px) {
  .section-contacts-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.section-contacts__title {
  font-weight: 700;
  margin-right: 64px;
}
@media (max-width: 768px) {
  .section-contacts__title {
    margin-right: 0;
  }
}
@media (max-width: 380px) {
  .section-contacts__title {
    font-size: 25px;
    line-height: 33px;
  }
}
.section-contacts__column {
  display: flex;
  flex-direction: column;
}
.section-contacts__select {
  margin: 89px 0 352px 0;
  width: 450px;
  height: 50px;
}
@media (max-width: 992px) {
  .section-contacts__select {
    width: 380px;
    margin: 98px 0 498px 0;
  }
}
@media (max-width: 646px) {
  .section-contacts__select {
    margin: 80px 0 256px 0;
    width: 300px;
    height: 50px;
    padding: 0 24px 0 20px;
  }
}

.section-about {
  padding: 93px 0 94px 0;
}
@media (max-width: 768px) {
  .section-about {
    padding: 34px 0 95px 0;
  }
}
@media (max-width: 380px) {
  .section-about {
    padding: 22px 0 26px 0;
  }
}

.layout-2-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .layout-2-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.layout-2-columns__info {
  margin-right: 155px;
  padding-top: 8px;
}
@media (max-width: 992px) {
  .layout-2-columns__info {
    margin-right: 22px;
  }
}
@media (max-width: 768px) {
  .layout-2-columns__info {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
.layout-2-columns__title {
  margin-bottom: 42px;
}
.layout-2-columns__title_orange {
  color: #E06733;
}
@media (max-width: 768px) {
  .layout-2-columns__title {
    text-align: center;
    font-size: 3.5rem;
    line-height: 4.6rem;
    margin-bottom: 50px;
  }
}
@media (max-width: 380px) {
  .layout-2-columns__title {
    font-size: 2.5rem;
    line-height: 3.3rem;
    text-align: center;
    margin-bottom: 14px;
  }
}
.layout-2-columns__description {
  font-size: 2rem;
  line-height: 3rem;
  color: #636060;
}
@media (max-width: 768px) {
  .layout-2-columns__description {
    margin-bottom: 68px;
  }
}
@media (max-width: 380px) {
  .layout-2-columns__description {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 0;
  }
}
.layout-2-columns__image {
  width: 100%;
  max-width: 464px;
}
@media (max-width: 768px) {
  .layout-2-columns__image {
    max-width: 250px;
  }
}
@media (max-width: 380px) {
  .layout-2-columns__image {
    max-width: 150px;
  }
}

.section-service {
  background-color: #EDF2EC;
  padding: 40px 0 68px 0;
}
@media (max-width: 768px) {
  .section-service {
    padding: 60px 0 32px 0;
  }
}
@media (max-width: 380px) {
  .section-service {
    padding: 30px 0 0 0;
  }
}
.section-service__heading {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .section-service__heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 42px;
  }
}
@media (max-width: 768px) {
  .section-service__heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 42px;
  }
}
@media (max-width: 380px) {
  .section-service__heading {
    margin-bottom: 30px;
  }
}
.section-service__heading-title {
  margin-right: 152px;
}
@media (max-width: 992px) {
  .section-service__heading-title {
    margin-bottom: 40px;
    font-size: 3.5rem;
    line-height: 4.6rem;
  }
}
@media (max-width: 768px) {
  .section-service__heading-title {
    margin-bottom: 40px;
    font-size: 3.5rem;
    line-height: 4.6rem;
  }
}
@media (max-width: 380px) {
  .section-service__heading-title {
    margin-bottom: 38px;
    font-size: 2.5rem;
    line-height: 3.3rem;
    margin-right: 0;
  }
}
.section-service__heading-buttons {
  display: flex;
  gap: 38px;
}
@media (max-width: 646px) {
  .section-service__heading-buttons {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.section-service__heading-buttons-item {
  background-color: #EDF2EC;
}
.section-service__heading-buttons-item-selected {
  background-color: #E06733;
  color: #FFFFFF;
  transition: all 1s ease-out;
}
@media (max-width: 646px) {
  .section-service__heading-buttons-item {
    margin-bottom: 10px;
  }
  .section-service__heading-buttons-item-selected {
    margin-bottom: 10px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery > * {
  flex-basis: 27%;
}
@media (max-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery > * {
    flex-basis: 42%;
  }
}
@media (max-width: 380px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gallery > * {
    flex-basis: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 58px;
  width: 100%;
  transition: 1s filter linear;
  filter: none;
}
.card-blur {
  filter: blur(2px);
  transition: 1s filter linear;
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 38px;
  }
}
@media (max-width: 380px) {
  .card {
    margin-bottom: 34px;
  }
  .card:last-child {
    margin-bottom: 26px;
  }
}
.card__img {
  width: 100%;
  max-width: 330px;
  height: 350px;
}
@media (max-width: 768px) {
  .card__img {
    width: 100%;
    max-width: 280px;
    height: 350px;
  }
}
.card__img_item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__rectangle {
  box-sizing: border-box;
  padding: 8px 0 36px 0;
  width: 100%;
  max-width: 330px;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 768px) {
  .card__rectangle {
    max-width: 280px;
    max-height: 100px;
  }
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__title {
  margin-bottom: 12px;
}
.card__info {
  padding: 0 8px 0 8px;
  color: #717171;
  text-align: center;
}

.section-prices {
  padding: 38px 0 100px 0;
}
@media (max-width: 768px) {
  .section-prices {
    padding: 40px 0 74px 0;
  }
}
@media (max-width: 380px) {
  .section-prices {
    padding: 25px 0 40px 0;
  }
}

.section-prices-layout {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 646px) {
  .section-prices-layout {
    display: flex;
    flex-direction: column;
  }
}

.prices-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 646px) {
  .prices-column {
    align-items: center;
  }
}
.prices-column__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  text-align: right;
  color: #000000;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .prices-column__title {
    font-size: 3.5rem;
    line-height: 4.2rem;
    margin-bottom: 56px;
    margin-left: 14px;
  }
}
@media (max-width: 380px) {
  .prices-column__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
    margin-left: 0;
  }
}

.prices-column__list {
  box-sizing: border-box;
  padding: 34px 41px;
  max-width: 332px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
}
@media (max-width: 380px) {
  .prices-column__list {
    padding: 29px 22px;
  }
}
.prices-column__list-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  align-items: center;
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  margin-bottom: 32px;
  cursor: pointer;
}
@media (max-width: 380px) {
  .prices-column__list-item {
    width: 180px;
    height: 49.72px;
    margin-bottom: 14px;
    padding: 14px 40px 16px 30px;
  }
}
.prices-column__list-item-hidden {
  display: none;
}
@media (max-width: 380px) {
  .prices-column__list-item_title {
    font-size: 15px;
    line-height: 20px;
  }
}
.prices-column__list-paper {
  display: none;
}
.prices-column__list-paper-open {
  transition: all 1s ease-out;
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
  width: 250px;
  background: #D6E7D2;
  border-radius: 20px;
  margin-bottom: 32px;
}
@media (max-width: 380px) {
  .prices-column__list-paper-open {
    width: 180px;
  }
}
.prices-column__list-paper-open_header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 380px) {
  .prices-column__list-paper-open_header-title {
    font-size: 15px;
    line-height: 20px;
  }
}
.prices-column__list-paper-open_line {
  max-width: 164px;
  width: 100%;
  height: 0px;
  left: 392px;
  top: 263px;
  border: 0.5px solid #AEA1A1;
  margin-top: 12px;
  margin-bottom: 6px;
}
.prices-column__list-paper-open_text {
  font-size: 1rem;
  line-height: 1rem;
  color: #717171;
  margin-bottom: 6px;
}
.prices-column__list-paper-open_description {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #000000;
  margin-bottom: 12px;
}
.prices-column__list-paper-open_span {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #E06733;
}

.button-small {
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
}
.button-small_text {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #717171;
}

.context-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .context-column {
    margin-top: 98px;
  }
}
@media (max-width: 646px) {
  .context-column {
    align-items: center;
    margin-top: 19px;
  }
}
.context-column__title {
  margin-bottom: 38px;
}
.context-column__title-green {
  color: #499A18;
}
@media (max-width: 768px) {
  .context-column__title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 28px;
  }
}
@media (max-width: 380px) {
  .context-column__title {
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 20px;
  }
}
.context-column__button {
  background-color: #FFFFFF;
  font-weight: 700;
  padding: 12px 30px;
  margin-bottom: 39px;
}
.context-column__button:hover {
  background-color: #E06733;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .context-column__button {
    margin-bottom: 34px;
  }
}
@media (max-width: 380px) {
  .context-column__button {
    padding: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 380px) {
  .context-column__img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */