.footer {
    height: auto;
}

.layout-3-columns {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 5rem;
    padding: 38px 0 40px 0;

    @include media-tablet {
        flex-direction: column;
        align-items: center;
        padding: 33px 0 18px 0;
        line-height: 2.4rem;
    }

    @include media-mobile {
        padding: 22px 0 8px 0;
    }
}

.footer-data:not(last-child) {
    @include media-tablet {

        padding-bottom: 14px;
    }
}

.footer-data__info:not(last-child) {
    margin-right: 16px;
}

.social-list {
    display: flex;

    @include media-tablet {
        margin-top: 10px;
    }

    @include media-mobile {
        margin-top: 0;
    }
}

.social-list__item {
    list-style: none;
    padding-top: 5px;
    margin-right: 28px;

    &:last-child {
        margin-right: 0;

    }
}